[submodule "dependencies/cnpy"]
	path = dependencies/cnpy
	url = https://github.com/rogersce/cnpy.git
[submodule "dependencies/imageutilities"]
	path = dependencies/imageutilities
	url = https://github.com/VLOGroup/imageutilities.git
[submodule "dependencies/slackprop"]
	path = dependencies/slackprop
	url = https://github.com/VLOGroup/slackprop.git
